<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296015710113-ucttvhcgk241279id4hnkkiot4nimnro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296015710113-ucttvhcgk241279id4hnkkiot4nimnro</string>
	<key>API_KEY</key>
	<string>AIzaSyCLDXR_RpeLyymg1h1lL9X9YmLpMOlHUGA</string>
	<key>GCM_SENDER_ID</key>
	<string>296015710113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TEC-de-Monterrey.ProyectoTEC</string>
	<key>PROJECT_ID</key>
	<string>sintomascovidproy</string>
	<key>STORAGE_BUCKET</key>
	<string>sintomascovidproy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296015710113:ios:f7df9297dd28a46453ede0</string>
</dict>
</plist>